.mainPage {
  background-color: transparent;
  min-height: 100vh;
  * {
    background-color: transparent;
  }
  z-index: 1;
}

.page {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
}

.initialState {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00FF00;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.initialStateLoader {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: thick double black;
  cursor: pointer;
  background-color: white;
}

.cubeContainer {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.cubeRow {
  display: flex;
  width: 100%;
  min-height: 5%;
  max-height: 5%;
}

.cube {
  flex-grow: 1;
  display: inline-block;
  padding: 0;
  background-color: #00FF00;
}

.portfolio {
  min-height: 100vh;
  height: auto !important;
  background-color: rgba(0, 0, 0, .5);

  * {
    color: #00FF00;
  }

}